:root{
    --orange: #ff6c47;
    --peche: #f5c6ab;
    --vert: #bac373;
    --grisSeparateur: #e5e5e5;
    --grisPale: #999999;
    --grisPub: #3e3e3e;
    --grisFonce: #4a4a4a;
    --grisTitre: #333333;
    --grisFonce2: #222222;
}